.card{
    border-top: 5px solid rgb(114, 63, 63);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.card:hover{
    border-top: 5px solid rgb(196, 51, 51);
}
.spin-animation{
    animation: logo-spin infinite 5s linear;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}